
iframe{
    width: 100%;
    height: 100%;
    border: none;
    min-width: 320px;
    position: absolute;
}
.iframe-body-top{
    top:60px;
}
.iframe-content-top{
    margin: 0;
}

.layui-side-scroll ul{display: none;}
.layui-side-scroll ul:first-child{display: block}


/*页面操作*/
.op-closeBox{
    position: absolute;
    right: 0;
    height: 40px;
    background: white;
    padding: 0;
    z-index: 1;
    border-bottom: 5px solid #009688;
}
.op-closeBox .layui-nav-item{  line-height: 40px;  }
.op-closeBox .layui-nav-item a{  color: black;  }
.op-closeBox:hover{  background: white;  }
.op-closeBox .layui-nav-item a:hover{  color: black;  }
.op-closeBox dl{  top:40px;  }
.op-refresh{
    position: absolute;
    right: 115px;
    border-left: 1px solid #e2e2e2;
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 70px;
    background: #5EB95E;
    cursor: pointer;
}
/*导航与图标样式*/
/*.layui-tab-title li i{*/
    /*margin-right: 5px;*/
/*}*/
.layui-tab-title li cite{
    font-style: normal;
    padding-left: 5px;
}

.layui-nav-tree li i{
    margin-right: 5px;
}
